<!-- ---
layout: default
---

{% if site.launched %}

  {% include welcome.html %}
  {% include about.html %}
  {% include summary.html %}

{% else %}

  <div id="welcome">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ site.baseurl }}img/logoaccionclimatica.png" ></img>
            <h2 class="white header">Monitoreo del cumplimiento del Acuerdo Nacional Por la Infancia 2018 </h2>
          </div>
          <div class="col-md-6">
          </div>

        </div>
      </div>
    </div>
  </div>

  {% include lanzamiento.html %}


{% endif %} -->


<div id="welcome">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="img/logopre.png" ></img>
          <p> class="white header">El sitio web Acción Climática se estrena el 24 de octubre de 2023. La plataforma de Acción Climática mide el estado de implementación de la Ley marco de cambio climático, en este primer año específicamente advirtiendo el avance en la dictación de las modificaciones reglamentarias que requerían de estar dictadas a un año de su publicación.</p>
        </div>
        <div class="col-md-6">
        </div>

      </div>
    </div>
  </div>
</div>