<!-- ---
layout: default
---

{% if site.launched %}

  {% include welcome.html %}
  {% include about.html %}
  {% include summary.html %}

{% else %}

  <div id="welcome">
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="{{ site.baseurl }}img/logoaccionclimatica.png" ></img>
            <h2 class="white header">Monitoreo del cumplimiento del Acuerdo Nacional Por la Infancia 2018 </h2>
          </div>
          <div class="col-md-6">
          </div>

        </div>
      </div>
    </div>
  </div>

  {% include lanzamiento.html %}


{% endif %} -->

<head>
  <style>
  body {
    background-color: #87D972;
    text-align: center;
  }
  </style>
  </head>


    <div class="container page-style">
      <section id="description">
          <div class="row">
              <div class="col-12 col-sm-12 col-md-12">
                <img src="img/logopre.png" ></img>
                  <h3 class="text-center page">MUY PRONTO - Acción Climática publica su estudio mañana martes 24 de octubre de 2023. En el Día Internacional contra el Cambio Climático la alianza Accionclimaticachile.cl presenta una evaluación sobre el estado de implementación de la Ley Marco de Cambio Climático (LMCC) en Chile, dictada en 2022. El análisis es impulsado por la Fundación Ciudadanía Inteligente, el Centro de Resiliencia del Clima (CR2) y la Fundación Friedrich Ebert en Chile, con la colaboración del Centro de Derecho Ambiental (CDA), “Nuestra América Verde” (NAVE) y la ONG FIMA.</h3>
              </div>
              <div class="col-4 col-sm-4 col-md-4">
                <p></p>
              </div>
          </div>
      </section>
  </div>

</div>
