<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 logo-ac">
                <img src=" {{ site.baseurl }} img/img-ac/logo-accion-climatica-bg.svg" class="logo-ac" />
            </div>
            <div class="col-12 col-sm-12 col-md-6 logo-org">
                <p>Un proyecto de</p>
                <div class="logos">
                    <img src=" {{ site.baseurl }} img/img-ac/fci-logo.png" class="logo-fci" />
                    <img src=" {{ site.baseurl }} img/img-ac/cr2-logo.png" class="logo-cr2" />
                    <img src=" {{ site.baseurl }} img/img-ac/fes-logo.png" class="logo-fes" />
                </div>

            </div>

            <div class="col-12 col-sm-12 col-md-6 logo-org">
                <p>Colaboran</p>
                <div class="logos">
                    <img src=" {{ site.baseurl }} img/img-ac/cda-logo.png" class="logo-cda" />
                    <img src=" {{ site.baseurl }} img/img-ac/fima-logo.png" class="logo-fima" />
                    <img src=" {{ site.baseurl }} img/img-ac/nave-logo.png" class="logo-nave" />
                </div>

            </div>

        </div>
    </div>
</footer>

<div class="colophon">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><span>2023</span> - Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</div>
