<div class="cumplimiento-total">
    <div class="container">
        <div class="row">
            <h3>Cumplimiento  total de los<br><span class="title-destacado-1">cambios reglamentarios</span></h3>
            <div class="chart-total chart-summary"></div>
            <h3>a 1 año de la implementación de la<br> <span>Ley de Cambio Climático</span></h3>
        </div>
    </div>
</div>

   

<div id="summary">
  <div>
      <script>
      var cumplimiento = {{ site.final_percentage }};
      $(function() {
      new Chartist.Pie('.chart-total', {
        labels: [cumplimiento + "%"," "],
        series: [100,parseInt(cumplimiento)]
      }, {
        donut: true,
        total: 100,
        donutWidth: 15,
        startAngle: 0,
        showLabel: true,
        labelOffset: -60,
      }, [
        ['screen and (max-width: 1199px)', {
          labelOffset: -68
        }],
        ['screen and (max-width: 991px)', {
          labelOffset: -70
        }],
        ['screen and (max-width: 320px)', {
          labelOffset: -60
        }]
      ]);
      });

      </script>
  </div>
</div>
   



<!--<div id="summary">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Con una nota de calidad de</p>
                <div class="ct-label nota-cumplimiento-home">{{ site.final_mark }}</div>
            </div>
        </div>
    </div>
</div>-->


<img src=" {{ site.baseurl }} img/img-ac/molino.png" class="molino" width="100%"/>

<div id="summary-graphs">

    <div class="flechas flechas-blancas">
        <div class="guia"></div>
        <img src=" {{ site.baseurl }} img/img-ac/bajada-flecha.svg" class="flecha-decoracion-guia" />
    </div>


    <div class="graphs container" ng-controller="MainController">
        <h2>Áreas de trabajo por la acción climática</h2>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-4 col-graph">
                <div class="ct-chart-1"></div>
                <p>Planificación</p>
                <a href="{{ site.baseurl }}cumplimiento.html#fulfillment-0">Revisar</a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-graph">
                <div class="ct-chart-2"></div>
                <p>Reducción G.A.I.</p>
                <a href="{{ site.baseurl }}cumplimiento.html#fulfillment-1">Revisar</a>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-graph">
                <div class="ct-chart-3"></div>
                <p>Institucionalidad</p>
                <a href="{{ site.baseurl }}cumplimiento.html#fulfillment-2">Revisar</a>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-graph">
                <div class="ct-chart-4"></div>
                <p>Sistema de información</p>
                <a href="{{ site.baseurl }}cumplimiento.html#fulfillment-3">Revisar</a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-graph">
                <div class="ct-chart-5"></div>
                <p>Participación</p>
                <a href="{{ site.baseurl }}cumplimiento.html#fulfillment-4">Revisar</a>
            </div>
            
            <div class="col-xs-12 col-sm-6 col-md-4 col-graph">
                <div class="ct-chart-6"></div>
                <p>Modificaciones a la gestión ambiental</p>
                <a href="{{ site.baseurl }}cumplimiento.html#fulfillment-5">Revisar</a>
            </div>
       
       
        </div>

        <div class="btn-container">
            <a href="{{ site.baseurl }}cumplimiento.html" class="btn-ac">Ver cumplimiento</a>
        </div>


    </div>

</div>
