<div class="portada">
    <div class="container">
        <div class="row">
            <div class="col-md-12 informacion">
                <h1>Acción climática del<br>
                    <span class="destacado-title-1">Estado de Chile</span><br>
                    <span class="destacado-title-2">Implementación de la <br>Ley Marco de Cambio Climático</span>
                </h1>
                <a href="{{ site.baseurl }}cumplimiento.html" class="btn-ac">Ver cumplimiento</a>
            </div>
            <img src=" {{ site.baseurl }} img/img-ac/bajada-flecha.svg" class="flecha-decoracion" />
        </div>
    </div>

    <img src=" {{ site.baseurl }} img/img-ac/planeta.png" class="planeta" />
</div>

<div class="llamado-accion-climatica">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Ante la<br>
                    <span class="destacado-title-3">Crisis climática</span><br>
                    la ciudadanía tiene<br>
                    <span class="destacado-title-4">derechos</span>
                </h2>
            </div>
        </div>
    </div>
</div>


<div class="flechas">
    <div class="guia"></div>
</div>


<div class="llamado-pregunta">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>¿Y qué acciones está realizando<br>
                    <span>el gobierno?</span>
                </h2>
            </div>
        </div>
    </div>
</div>


<div class="flechas">
    <div class="guia"></div>
    <img src=" {{ site.baseurl }} img/img-ac/bajada-flecha-naranja.svg" class="flecha-decoracion-guia" />
</div>
